@charset "UTF-8";

body {
  width: 100%;
}

header {
  width: 100%;
  background-color: #2b0368fe;
}

header nav ul {
  padding: 6px;
}

header nav ul li {
  color: #fff;
}

header nav ul li a {
  display: block;
  text-decoration: none;
}

header nav ul {
  width: 30%;
}

.catch_copy {
  background-image: url(../images/header.webp);
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: cover;
  height: 500px;
  margin: auto;
}

.catch_copy,
main section {
  margin-bottom: 60px;
}

.flex_container {
  width: 80%;
  margin: 0 auto;
}

.lead p {
  margin-bottom: 26px;
  line-height: 1.6;
}

.case h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: center;
}

.case .case_container {
  display: flex;
  justify-content: space-between;
}

.case_item dt {
  padding: 10px 0;
  background-color: #2b0368fe;
  color: #fff;
  text-align: center;
}

.case_item .item-about {
  line-height: 1.4;
  padding: 16px 24px;
}

.case_item .item-button {
  background-color: #2b0368fe;
  color: #fff;
  text-align: center;
}

.case_item .item-button a {
  display: block;
  padding: 20px 0;
}

.case_item .item-img {
  width: 100%;
}

.case_item .item-img img {
  width: 100%;
}

.case .case_container .case_item {
  flex-basis: 45%;
}

.voice {
  box-shadow: 0 0 10px 10px lightgrey;
}

.voice h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 24px 0 20px;
}

.voice_flex_container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
}

.voice_flex_container .voice_item1 {
  font-size: 18px;
  line-height: 1.6;
  flex-basis: 50%;
}

.voice_flex_container .voice_item2 {
  flex-basis: 40%;
}

.voice_flex_container .voice_item2 img {
  width: 100%;
}

.voice p:last-child {
  text-align: center;
}

.voice p:last-child a {
  background-color: #2b0368fe;
  color: #fff;
  padding: 20px 50px;
  display: inline-block;
  margin-bottom: 24px;
}

.SNS h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 24px 0 20px;
}

.SNS ul {
  display: flex;
  justify-content: space-around;
}
